body {
	margin: 0;
	font-style: normal;
	letter-spacing: 2px;
}

*{
    box-sizing: border-box;
}

/*TOP DIV*/
.homeImage {
	width: 100%;
	height: 600px;
	background-image: url("../Images/homepage1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.homeImage img{
	border-radius: 50%; 
	height: 100px; 
	width: 100px;
	margin: 20px;
	position: absolute;
}

.homeImage img:hover{
	cursor: pointer;
}

.titles{
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	box-shadow: 0px 1px 0px 0px black;
	border-radius: 4px;
	width: 50%;
	margin: auto;
	margin-top: 100px;
}

.homeImage h1{
	font-size: 70px;
	font-family: 'Josefin Sans', serif;
	font-weight: 400;
	color: white;
	text-align: center;
	text-shadow: 2px 1px black;
	letter-spacing: 6px;
}

.homeImage h2{
	font-size: 50px;
	font-family: 'Josefin Sans', serif;
	font-weight: 100;
	color: white;
	text-align: center;
	text-shadow: 2px 1px black;
}

.homeImage h3{
	font-size: 30px;
	font-family: 'Josefin Sans', serif;
	font-weight: 100;
	color: white;
	text-align: center;
	text-shadow: 2px 1px black;
}

/*BOOKING DIV*/
.bookingContainer{
	height: 300px;
	width: 100%;
	margin: 0;
	background: white;
	text-align: center;
	overflow: hidden;
	/*background: linear-gradient(-45deg, #000000, #282828, #000000, #282828);*/
}

.aptmtButton{
	background: #a9976a;
	/*#a9976a 878787*/
	border-radius: 8px;
	margin: auto;
	width: 400px;
	height: 70px;
	margin-top: 100px;
	padding: 20px;
	border-bottom: 2px solid #333332;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
}

.aptmtButton a{
	font-size: 30px;
	text-decoration: none;
	font-family: 'Josefin Sans', serif;
	font-weight: 100;
	color: white;
}

.aptmtButton:hover{
	background: #726648;
	cursor: pointer;
}

/*SERVICES DIV*/
.servicesContainer{
	height: 600px;
	width: 100%;
	margin: 0;
	background: #333332;
	overflow: hidden;
	text-align: center;
}

.servicesContainer h1{
	color: white;
	font-family: 'Aref Ruqaa', serif;
	font-size: 60px;
	font-style: italic;
}

.servicesContainer h2{
	color: white;
	font-family: 'Aref Ruqaa', serif;
	font-size: 30px;
}

.serviceTable{
	display: flex;
	width: 80%;
	height: 300px;
	margin: auto;
}

.serviceTable ul li{
	list-style-type: square;
	font-family: 'Josefin Sans', serif;
	font-weight: 100;
	color: #878787;
	text-align: left;
}

.element1{
	border-top: 2px solid #a9976a;
	margin: 8px;
	border-radius: 3px;
}

/*LOCATION DIV*/
.locationContainer{
	height: 700px;
	width: 100%;
	margin: 0;
	background: #a1a5ad;
	overflow: hidden;
	text-align: center;
}

.locationContainer h2{
	color: black;
	font-family: 'Aref Ruqaa', serif;
	font-size: 40px;
}
.locationContainer h3{
	color: white;
	font-family: 'Josefin Sans', serif;
	font-weight: 500;
	font-size: 20px;
}

/*MAP AND ADDRESS DIV*/

#map{
	margin: auto;
    height: 400px;  
	width:40%;
	border: 2px solid white;
	border-radius: 3px;
}

.locationRow{
	display: flex;
	margin-top: 100px;
}

.address{
	border-top: 2px solid #333332;
	border-bottom: 2px solid #333332;
	border-radius: 4px;
	width: 20%;
	margin: auto;
	height: auto;
	padding: 20px;
}

/*HOURS DIV*/

.hours{
	border-top: 2px solid #333332;
	border-bottom: 2px solid #333332;
	border-radius: 3px;
	width: 100%;
	margin: auto;
	height: auto;
	padding: 20px;
}

.tableHours{
	margin: auto;
}

.tableHours tr{
	font-size: 16px;
	color: white;
	font-family: 'Josefin Sans', serif;
}

.outerHoursContainer{
	width: 20%;
	margin: auto;
}

.outerHoursContainer h1{
	color: black;
	font-family: 'Aref Ruqaa', serif;
	font-size: 40px;
	font-style: italic;
}

/*GALLERY CONTAINER*/
.galleryContainer{
	width: 100%;
	height: 800px;
	text-align: center;
	background: #e5e5e5;
	overflow: hidden;
}

.galleryContainer h1{
	color: black;
	font-family: 'Aref Ruqaa', serif;
	font-size: 60px;
	font-style: italic;
}

.galleryContainer h2{
	color: black;
	font-family: 'Josefin Sans', serif;
	font-size: 24px;
	font-weight: 200;
}

.galleryContainer a{
	color: #a9976a;
	font-family: 'Josefin Sans', serif;
	font-size: 24px;
	font-weight: 200;
	text-decoration: none;
	-webkit-transition: 0.5s; 
    transition: 0.5s;
}

.galleryContainer a:hover{
	color:  #726648;
}

.galleryPreview{
	display: flex;
}

.galleryPreview img{
	width: 500px;
	height: 350px;
	margin: auto;
	margin-top: 50px;
	box-shadow: 4px 5px 20px 0px rgba(0,0,0,0.25);
}

.footer{
	width: 100%;
	height: 100px;
	background: rgba(0,0,0,0.9);
	text-align: center;
}

.footer a{
	color: white;
	font-size: 50px;
}

.footer i{
	margin-top: 25px;
	padding-left: 40px;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.footer i:hover{
	color: #a9976a;
}


